.chates{
    /* background-image: url('../../../public/images/10.jpg');
    background-size: cover;
    background-position: center; */
    /* width: 100%; */
    width: 100%;
    /* height: 100vh; */
    background-color: #DDD;
    /* height: 100vh; */
}


.users{
  height: 60px;
  display: flex;
  text-align: right;
  margin-top: 10p;
  align-items: center;
  justify-content: end;
  
  
}
.addddd{
  background-color: #8b3dff;
  padding: 10px;
  border-radius: 14px;
  font-size: 16px;
  width: 25%;
  border: none;
  color: #FFF;
  text-align: center;
}

.alluser{
  margin-left: 10px;
}
.alluser h2{
  color: #FFF;
  font-size: 25px;
}
.searche{

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 10px;
  /* border-bottom: 2px solid #1a6b65; */
  margin-bottom: 10px;
  box-shadow: 0 5px 25px 3px rgb(0 0 0 / 6%);

}
.user{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 10px;
  margin-top: 10px;
  box-shadow: 0 5px 25px 3px rgb(0 0 0 / 6%);

  
}


.userChat{
  /* border: 1px solid #6bb6b18a;
   */
  border: 1px solid #8b3dff;

  margin-bottom: 10px;
  border-radius: 8px;
  padding: 6px;
  background-color: #FFF;
  box-shadow: 0 5px 25px 3px rgb(0 0 0 / 6%);

}

.userChat img{
  width: 100%;
}
.userChat .userChatInfo{
  text-align: center;
  /* background-color: #6bb6b18a; */
  background-color: #8b3dff;
  border-radius: 6px;
  padding: 5px;

}
.userChat .userChatInfo:hover{
  background-color: #CCC; 
}
.userChat .userChatInfo span{
  color: #FFF;
  font-size: 18px;

}
.userChat .userChatInfo span:hover{
  color:#8b3dff ;
}


@media screen and (max-width:615px){

.userChat{
  width: 230px;
}
/* .searche a{
  width: 230px;
} */
 .searche,.user{
  width: 90%;
 }


}

@media screen and (max-width:515px){

  .userChat{
    width: 260px;

  }
  .users{
    justify-content: start;
    margin-left: 50px;
   }
  /* .searche a{
    width: 260px;
    text-align: center;
  } */
   .searche,.user{
    display: flex;
    flex-direction: column;
    width: 90%;
   }
 
  
  
  }


